h3 {
    font-family: 'Tektur', cursive;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

footer {
    background-color: white;
    color: black;
    width: 100%;   
    padding: 20px;
    margin-top: -20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

/*buttons*/
.navigateButtons {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .navigateButtons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 10px;
    }
}

.homeLink,
.blueLink,
.redLink,
.pinkLink,
.greenLink,
.yellowLink {
    padding: 8px;
    border-radius: 10px;
    background-color: black;
    cursor: pointer;
    font-family: 'Lilita One', cursive;
    font-size: 14pt;
}

.homeLink:hover {
    color: purple;
}

.blueLink:hover {
    color:#0000FF;
}

.redLink:hover {
    color: #ff0000;
}

.pinkLink:hover {
    color: #fe81c1;
}

.greenLink:hover {
    color: #008000;
}

.yellowLink:hover {
    color: rgb(255,240,0);
}









