.myTitle {
    margin-top: 20px;
    font-family: 'Tektur', cursive;
    color: black;
    font-size: 26pt;
    margin-bottom: 25px;
}
    

ul {
    list-style-type: none;
    width: 100%;
    margin: 20px;
}

li {
    display: inline;
    padding: 20px;
    margin-top: 20px;
}

nav{
    width: 100%;
    background-color: #D3D3D3;
    height: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  
}

.myLinks li a  {
    color: black;
    font-family: 'Tektur', cursive;
    font-size: 22pt;
}

.myLinks li a:hover {
    color: #D6906D;
  }




