/*images on pages*/
.logo {
    width: 100%;
    max-width: 400px;
}
.powerRangerImage {
    width: 100%;
    max-width: 250px;
}

.redRanger {
    width: 100%;
    max-width: 450px;
    margin-left: 20px;
}


