/*images on pages*/
.logo {
    width: 100%;
    max-width: 400px;
}
.powerRangerImage {
    width: 100%;
    max-width: 250px;
}

@media screen and (max-width: 690px) {
  .powerRangerImage {
    width: 100%;
    max-width: 110px;
  }
}

.redRanger {
    width: 100%;
    max-width: 350px;
    margin-left: 20px;
}

/*this is for all the pages*/
h1 {
  font-family: 'Lilita One', cursive;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

.red {
  background-color: #ff0000;
}

.blue {
 background-color: #00177d;
}

.pink {
  background-color: #fe81c1;
}

.home {
  background-color: black;
}

.homePage {
  color: white;
}

.yellow {
  background-color: rgb(255,240,0);
}

.green {
  background-color: #008000 ;
}







 

